# editor backup files
*~

# encumbered image formats in which we have no interest
*.bmp
*.BMP
*.gif
*.GIF

# AsciiDoctor's generated output, which we don't want included (yet)
book.html

# Odd hidden file
*.swp
